html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $body-colour;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0 0 1rem;
}

a {
  color: $brand-primary;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: darken($brand-primary, 3%);
  }
}
