// forms

.form-fields {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

.form-field-wrap {
  margin: 0 0 .5rem;
}

.form-label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.form-field {
  display: block;
  width: 100%;
  padding: 1rem;
  color: $body-colour;
  background-color: $mid-grey;
  border: 1px solid $mid-grey;
  border-radius: 0;
  -webkit-appearance: none;

  &::placeholder {
    color: $body-colour;
  }
}


// buttons

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  color: $white;
  font-weight: bold;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
  border-radius: 0;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: darken($brand-primary, 3%);
  }
}
