// wrap

.page-wrap {
  @include breakpoint(md) {
    display: flex;
    height: 100vh;
  }
}


// content

.page-content {
  padding-top: 2rem;
  background-color: $white;

  @include breakpoint(md) {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  @include breakpoint(lg) {
    width: 50%;
  }

  @include breakpoint(xl) {
    width: 40%;
  }

  .page-wrap--login & {
    text-align: center;

    @include breakpoint(md) {
      justify-content: space-between;
      width: 50%;
    }

    @include breakpoint(lg) {
      width: 33.33333%;
    }

    @include breakpoint(xl) {
      width: 25%;
    }
  }
}


// sections

.page-header,
.page-main,
.page-footer {
  position: relative;
  flex: 0 0 auto;
  padding: 0 2rem 2rem;
}

.page-header {
  @include breakpoint(md) {
    display: flex;
    justify-content: space-between;

    .page-wrap--login & {
      justify-content: center;
    }
  }
}

.page-main {
  @include breakpoint(md) {
    flex: 0 0 auto;

    .page-wrap--terms & {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }
}


// title

.page-title {
  margin: 1rem 0 0;
  color: $brand-primary;
  font-size: 1.25rem;
}


// logo

.page-logo {
  margin: 0;
}


// background

.page-background {
  display: none;

  @include breakpoint(md) {
    display: block;
    position: relative;
    flex: 1 1 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, .6);
    }
  }
}

.page-watermark {
  position: absolute;
  bottom: -24px;
  right: 4rem;
  color: $brand-primary;
  fill: $white;
  width: 180px;
  height: 233px;
}
