.scroll-panel {
  padding: 2rem;
  margin: 0 -2rem -2rem;
  background-color: $light-grey;

  @include breakpoint(md) {
    position: absolute;
    top: 0;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    margin: 0;
    overflow-y: auto;
  }
}
