// colours

$black:          #000000;
$dark-grey:      #565656;
$mid-grey:       #dfdfdf;
$light-grey:     #f1f1f1;
$white:          #ffffff;

$body-colour: $dark-grey;

$brand-primary:  #00aeef;
$brand-secondary: $black;


// fonts

$body-font-family: 'Montserrat', sans-serif;
$body-font-size:                       1rem;
$body-font-weight:                      300;


// breakpoints

@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm {
    @media screen and (min-width: 480px) { @content; }
  }
  @else if $breakpoint == md {
    @media screen and (min-width: 768px) { @content; }
  }
  @else if $breakpoint == lg {
    @media screen and (min-width: 1024px) { @content; }
  }
  @else if $breakpoint == xl {
    @media screen and (min-width: 1400px) { @content; }
  }
}
